* {
    font-family: 'Times New Roman', Times, serif;
}

.info-card {
    background-color: lightgoldenrodyellow;
    border-width: 2px;
    border-radius: 20px;
    border-style: solid;
    border-color: gold;
    padding: 20px;
    text-align: justify;
    box-shadow: 0px 5px 5px gainsboro;
}

.info-card-image {
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

.info-card-heading {
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: table-row;
    width: flex;
}

table {
    width: 100%;
}

.info-card-h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: table-cell;
    width: 80%;
}

.info-card-para {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.learn-more-link {
    background-color: limegreen;
    color: white;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 2px gainsboro;
    display: table-cell;
}

.learn-more-link:hover {
    background-color: green;
    transition: 0.2s ease-in-out;
}